@model IEnumerable<AdventureWorks2014.Models.BusinessEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rowguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusinessEntityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusinessEntityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusinessEntityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
